<md-content class="md-padding" >
    <div layout layout-wrap layout-gt-sm="row" layout="column" >
        <div flex="60" flex-sm="100" flex-xs="100" class="container">
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!complex">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-card ng-if="resident">
                <md-toolbar class="md-hue-1" >
                    <div class="md-toolbar-tools">
                        <md-card-title-text >
                            <span class="md-headline">{{resident.firstName}} {{resident.lastName}}</span>
                        </md-card-title-text>
                        <md-input-container md-theme="input" flex>
                            <label>&nbsp;</label>
                        </md-input-container>
                        <md-button class="ng-icon-button" ui-sref="home.editComplex({complexId: complex.complexId})">
                            <ng-md-icon icon="edit"></ng-md-icon>
                        </md-button>
                        <md-button class="ng-icon-button" ng-click="showConfirm()">
                            <ng-md-icon icon="delete"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-card-content layout-gt-md="row" layout="column" >
                    <md-list class="md-dense" flex="50">
                        <md-list-item class="md-2-line" >
                            <md-icon> <ng-md-icon icon="phone"></ng-md-icon></md-icon>
                            <div class="md-list-item-text" >
                                <h3> {{resident.phone}}</h3>
                                <p> PHONE</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line" >
                            <md-icon> <ng-md-icon icon="mail"></ng-md-icon></md-icon>
                            <div class="md-list-item-text" >
                                <h3>{{resident.email}}</h3>
                                <p> EMAIL</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list class="md-dense">
                        <md-list-item class="md-2-line" >
                            <md-icon> <ng-md-icon icon="place"></ng-md-icon></md-icon>
                            <div class="md-list-item-text" >
                                <h3>{{resident.apartmentId}}</h3>
                                <p> APARTMENT</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line" >
                            <md-icon> <ng-md-icon icon="place"></ng-md-icon></md-icon>
                            <div class="md-list-item-text" >
                                <h3>{{resident.apartmentId}}</h3>
                                <p> COMPLEX</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list class="md-dense">
                    	<md-list-item class="md-2-line" >
                            <md-icon> <ng-md-icon icon="web"></ng-md-icon></md-icon>
                            <div class="md-list-item-text" >
                                <h3>{{resident.about}} </h3>
                                <p> ABOUT</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>
        </div>
        {{resident}}
        <!-- <div flex flex-sm="100" flex-xs="100" class="container" >
            <md-card layout="column">
                <md-card-title>
                    <md-card-title-text >
                        <span class="md-headline">Apartments</span>
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-list flex>
                    <md-list-item class="md-2-line noright" ng-repeat="apartment in complex.apartments" ui-sref="home.showApartment({apartmentId: apartment.id})">
                        <md-icon class="md-avatar"> <ng-md-icon icon="home" ></ng-md-icon></md-icon>
                        <div class="md-list-item-text" >
                            <h3> {{apartment.number}}</h3>
                            <p> {{apartment.occupancy}} of {{apartment.capacity}} residents</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div> -->

    </div>


</md-content> 	